# Terraform state and cache
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl
# Vim swap files
*.swp
*.swo
*.swn
*.swm
*.swl

# Terraform local files
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
tfplan

# OS junk files
.DS_Store
Thumbs.db
